.x-card-follow {
    display: flex;
    padding: .5rem;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: .8rem;
}

.x-card-follow-avatar {
    margin: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
}

.x-card-follow-avatar img {
    width: 100%;
    height: 100%;
}

.x-card-follow-info {
    flex-grow: 1;
}

.x-card-follow-name {
    font-weight: bold;
}

.x-card-follow-user-name {
    opacity: .6;
}

.x-card-follow-btn-follow {
    cursor: pointer;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    border: 1px solid #000;
    transition: .3s ease background-color;
    justify-self: self-end;
}

.x-card-follow-btn-follow:hover {
    opacity: .6;
}